.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log

__tests__/
.github/
.husky/
.idea/
.vscode/
docs/
node_modules/
src/
.gitignore
.npmrc
.release-please-config.json
build.ts
bun.lock
bunfig.toml
CHANGELOG.md
commitlint.config.js
release-please-config.json
tsconfig.json